{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="{% static 'favicon.svg' %}" />
    <title>Leave Management System</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<body>
    <header>
        <div class="header">
            <div class="logo-container"><a href="/"><img src="/static/img/lms_logo.svg" alt="logo"></a></div>
            <div class="heading">Leave Management System</div>
            {% block 'navbuttons' %}
            {% endblock %}
        </div>
    </header>
    <main>
        <div class="main">
            {% block 'content' %}
            {% endblock %}
    </main>

</body>

</html>