{% extends "base.html" %}
{% block 'content' %}
<div class="login-container">
    <form method="post" action="/reset-password">
        {% csrf_token %}
        <h3 class="headline-text">Password reset</h3>
        <p>Enter your email below to reset your forgotten password</p>
        <div class="input-group">
          <label>Email</label>
          <input
            type="text"
            name="email"
            placeholder="email@example.com"
            value="{{ request.POST.email|default:'' }}"
            required
          />
        </div>
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}