{% extends "base.html" %}
{% load static %}

{% block 'navbuttons' %}
<div class="nav-buttons">
    <a href="/start" class="btn btn-primary">Get Started</a>
    <a href="/login" class="btn btn-secondary">Login</a>
</div>
{% endblock %}

{% block 'content' %}
        <div class="content">
          <h2>
            A <span>powerful</span>, <span>feature rich</span>,
            <span>all rounded</span> automated leave management solution.
          </h2>
          <h3>
            A cloud-based leave management solution designed to streamline and
            simplify the time-off process, saving organizations valuable time
            and effort.
          </h3>
          <a href="#" class="btn btn-primary">Get Started</a>
        </div>
        <div class="hero">
          <img src="{% static 'img/employee-happiness.jpg' %}" alt="hero" />
        </div>
      </div>
{% endblock %}