{% extends 'base.html' %} {% block 'content' %}
{% load static %}
<div class="login-container">
  <h3 class="content-heading">User Login</h3>
  <form class="form" action="/login" method="post">
    {% csrf_token %} {% if errors %}
    <div class="errors">
      {% for error in errors %}
      <div class="error">{{ error}}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="input-group">
      <label>Email or username</label>
      <input
        type="text"
        name="email"
        placeholder="Email or username"
        value="{{ request.POST.email|default:'' }}"
        required
      />
    </div>
    <div class="input-group">
      <label>Password</label>
      <div class="password-field-wrapper">
        <div class="icon"><img src='{% static "img/visibility.svg" %}' id="visibility-icon" /></div>
        <input type="password" name="password" placeholder="Password" autocomplete="off" required />
      </div>
    </div>
    <div class="align-right">
      <a href="/forgot-password" class="link">Forgot password ?</a>
    </div>
    <div>
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
<script>
  const visIcon = document.querySelector('#visibility-icon')
  const passwordEl = document.querySelector('input[name=password]')

  window.passwordVisible = false
  visIcon.addEventListener('click', (e) => {
    window.passwordVisible = !window.passwordVisible
    e.target.src = window.passwordVisible ? '{% static "img/visibility_off.svg" %}' : '{% static "img/visibility.svg" %}'
    passwordEl.type = window.passwordVisible ? 'text' : 'password'
  })
</script>
{% endblock %}
