{% extends "base.html" %}
{% load static %}
{% block 'content' %}
<div class="login-container">
    <form method="post" action="/reset-password-with-token">
        {% csrf_token %}
        <h3 class="headline-text">Password reset</h3>
        {% if error.has_error %}
        <p class="message">{{ error.detail }}</p>
        {% else %}
        <p>Enter a new password</p>
        <div class="input-group">
            <input type=hidden name=token value={{ token }} />
            <label>Password</label>
            <div class="password-field-wrapper">
                <div class="icon"><img src='{% static "img/visibility.svg" %}' id="visibility-icon" /></div>
                <input type="password" name="password" placeholder="Password" autocomplete="off" required />
            </div>
        </div>
        <div class="input-group">
            <label>Password Confirmation</label>
            <div class="password-field-wrapper">
                <div class="icon"><img src='{% static "img/visibility.svg" %}' id="visibility-icon" /></div>
                <input type="password" name="password_confirm" placeholder="Confirm Password" autocomplete="off" required />
            </div>
            {% if error.form_error %}
            <p style="color: red;">{{ error.form_error }} Error </p>
            {% endif %}
        </div>
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock 'content' %}